body {
    /* background-color: #f1f1f1; */
    font-family: 'Lato', sans-serif;
    /* font-size: 18px; */
    font-size: 100%;
}

h1 {

}

h2 {
    
}

h3 {
    
}

h4 {
    
}

h5 {
    font-size: calc(1.5vh + 1.5vmin);
}


.navbar-light {
    padding-right: 7%;
    padding-left: 7%;
    font-size: 120%;
    background-color: #fff !important;
}

.navbar-toggler.navbar-toggler-right {
    border: 0px;
}


.card {
    border-radius: 0px;
    border: solid 0px #fff;
    box-shadow : 0px 0px 15px 5px rgba(0,0,0,0.03);
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    height:100%;
    
    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.card:hover {
    box-shadow : 0px 0px 15px 5px rgba(0,0,0,0.07);
}

.cover-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 300px;
    border-radius: 0px;
    border: 0px;
    transition: all 0.4s ease-in-out;
}


.card-title {
    font-size: 30px;
}

.nav{
  text-align: center;
}

.navbar-nav .nav-item{
  float: inherit;
  display: inline-block;
}

.profile-image {
    width: 100%; 
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.profile-image:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

p {
    font-size: 16px;
}

a {
    transition: all 0.1s ease-out;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

a:active {
    text-decoration: none;
    color: black;
}

/* Add animation to "content" */
.animate_bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-40px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-40px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.page_front {
    height:100%;
    width:100%;
}

.vertically_align
{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     width: 100%;
     padding: 0;
}

.bottom_center_align
{
     display: flex;
     align-items: flex-end;
     justify-content: center;
     height: 100%;
     width: 100%;
     padding: 0;
}

.top_center_align
{
     display: flex;
     align-items: flex-start;
     justify-content: center;
     height: 100%;
     width: 100%;
     padding: 0;
}

.line_break {
    margin: 3%;
}

.content_row {
    margin: 4%;
}

.headline {
    font-family: 'Playfair Display', serif;
    font-size: calc(2vh + 2vw + 3vmin);
}

.notes_lg {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.notes {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    margin: 3px 0px;
    color: grey;
    text-align: center;
}

/* Front Page */

.front_1 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 2px 6px #888888;
    background-color: #252627;
    width:100%;
    height:50%;
    border-color: transparent;
}

.front_2 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 2px 16px #CCCCCC;
    background-color: white;
    width:100%;
    height:50%;
    border-color: transparent;
}

.footer {
   position:fixed;
   text-align: center;
   bottom:0px;
   height:30px;
   width:100%;
}

.preview {
    border-radius: 2px;
    border: 0px;
    width: 100%;
    max-height: 500px;
    object-fit:cover;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.preview:hover {
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.05);
}

.zoomed {
    width: auto !important;
    height: auto !important;
    object-position: center;
}

.swal2-image {
    max-width:100% !important;
    max-height: 100% !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    object-fit: cover;
}
